@import '../mixins' 
/** * Project specific mixins * **/
@mixin gradOverlay($type: 'main-hero', $direction: 'to bottom left', $start-colour: rgba($brand-primary, .618), $mid-colour: rgba($brand-primary, 0.618), $end-colour: $brand-primary, $stop: 61.8%)
	@if $type == 'main-hero'
		background: linear-gradient(to bottom, $start-colour 0%, $mid-colour 25%, $end-colour 100%)
	@else if $type == 'high-chroma'
		background-image: linear-gradient(#{$direction}, $start-colour 0%, $end-colour $stop) 
	@else if $type == 'grey-fill'
		background-image: linear-gradient(#{$direction},  $shade-01 0%, $shade-03 $stop)

@mixin makeWhiteText()
	h1, h2, h3, h4, h5, ul, li, p, a:not(.bc-button), bloquote, .bc-inner-page-content__heading, .bc-feature-component__heading 
		color: $white	
	.bc-svg-icon
		fill: $white
	.bc-button
		color: $brand-primary
		.bc-svg-icon
			fill: $brand-primary
	.bc-icon-link
		@include linkHover
			.bc-svg-icon
				fill: $white
@mixin makeForgroundColour($color: $white, $opposite-color: $brand-primary)
	h1, h2, h3, h4, h5, ul, li, p, a:not(.bc-button), bloquote, .bc-inner-page-content__heading, .bc-feature-component__heading 
		color: $color	
	.bc-svg-icon 
		fill: $color
	.bc-button
		color: $opposite-color
		.bc-svg-icon
			fill: $opposite-color
	.bc-icon-link
		@include linkHover
			.bc-svg-icon
				fill: $white

@mixin makeHighChroma($start-colour: rgba($brand-primary, .618), $end-colour:  $brand-darker, $opposite: $white) 
	@include gradOverlay('high-chroma', $start-colour: $start-colour, $end-colour: $end-colour)
	@include makeForgroundColour($opposite, $end-colour)
	.bc-feature-component__cta
		.bc-feature-component__next
			.bc-svg-icon
				fill: $end-colour
		
@mixin makeRainbowGradBorder
	border-image: linear-gradient(to right, #05D1D1 0%, #6881DB 25%, #D02CE5 50%, #F2EF11 75%, #3B857E 100%)
@mixin makeRainbowGrad
	background-image: linear-gradient(to right, #05D1D1 0%, #6881DB 25%, #D02CE5 50%, #F2EF11 75%, #3B857E 100%)
@mixin makeRainbowGrad2
	background-image: linear-gradient(to right, #3B857E 0%, #05D1D1 25%, #6881DB 50%, #D02CE5 75%, #F2EF11 100%)

@mixin makeNeumporphic($position: relative, $isLink: false)
	position: $position
	&:after, &:before
		transition: opacity 380ms ease-out
		background-color: transparent
		content: ""
		position: absolute
		top: 0px
		left: 0px
		width: calc(100%)
		height: calc(100%
		z-index: -1
	&:before
		opacity: 1
		box-shadow: -0.18rem -0.18rem 0.8rem 0.0rem rgba($white, 0.2), 0.2rem 0.2rem 0.8rem 0.0rem rgba($black, 0.2)
	&:after
		opacity: 0
		box-shadow: -0.45rem -0.45rem 0.8rem 0.0rem rgba($white, 0.2), 0.6rem 0.6rem 0.8rem 0.0rem rgba($black, 0.24)
	@if $isLink
		@include linkHover
			&:before
				opacity: 0 
			&:after
				opacity: 1